# GoPing
# Uses Viper to parse configuration
debug = false
rate = 1000
interval = 10

[influxdb]
measurement = "goping"
db = "ping"
host = "10.1.1.1"
port = "8090"
user = "ping"
pass = "pong"

[probes.isp1]
prio1 = 1
prio2 = 2
browse = 3
dl = 4
crew = 5
trash = 6

[probes.isp2]
prio1 = 7
prio2 = 8
browse = 9
dl = 10
crew = 11
trash = 12

[targets.firewall]
name = "Local Firewall"
address = "192.168.0.1"
links = [ "isp1", "isp2", "isp5" ]

[targets.google1]
name = "Google DNS"
address = "8.8.8.8"
links = "all"

[targets.google2]
name = "Google DNS 2"
address = "8.8.4.4"

[targets.offline]
name = "Offline Dummy"
address = "test.com"
