# Joki
# Ping daemon configuration

debug = false
# Time between probes of the same TOS value sent to one host
rate = 1000
# Send 10 packets to all targets assigned to a probe group
# and send calculated values to InfluxDB, correlates with 'rate'
interval = 10

[influxdb]
measurement = "ping"
db = "joki"
host = "10.1.1.1"
port = "8090"
user = "ping"
pass = "pong"

[probes.link1]
prio1 = 1
prio2 = 2
browse = 3

[probes.link2]
prio1 = 7
prio2 = 8
browse = 9

[targets.google]
name = "Google"
address = "google.com"
probes = [ "link1", "link2", "dummy" ]

[targets.linode]
name = "Linode"
address = "speedtest.london.linode.com"
probes = "all"

[targets.localhost]
name = "Localhost"
address = "127.0.0.1"
